<ion-content padding text-center>

    <ion-grid>

        <ion-row>
            <ion-col class="top-20">

                <img src="assets/imgs/Logo_IG_blanco.png">

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-20">

                <h3>Inicio de Sesión Collector</h3>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-5">

                <button (click)="signInGoogle()" ion-button color="google" icon-left block large>
                <ion-icon name="logo-google"></ion-icon>
                Google
              </button>

                <button (click)="signInWithFacebook()" ion-button color="facebook" icon-left block large>
                  <ion-icon name="logo-facebook"></ion-icon>
                  Facebook
                </button>

            </ion-col>
        </ion-row>

    </ion-grid>



</ion-content>
