<ion-header>
  <ion-navbar color="ig-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ><img height="40" src="assets/imgs/Logo_IG_blanco.png"/></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div id="editArea" style="width: 300px; padding: 12px 15px; overflow: auto; line-height: 1.5em; font-family: 'Avenir Next W00', 'Helvetica Neue', Helvetica, Arial, sans-serif; background: #fff;" class="editArea-container">
    <div id="addFeatureDiv">
      <h3 class="list-heading">Negocios de Tegucigalpa</h3>
      <button ion-button  outline block>Agregar punto</button>
    </div>

    <div id="updateInstructionDiv" style="text-align:center">
      <p class="or-wrap">
        <span class="or-text">O</span>
      </p>
      <p>Seleccione un punto para editar o borrar.</p>
    </div>

    <div id="featureUpdateDiv" style="display:none; margin-top: 1em;">
      <h3 class="list-heading">Ingrese la información del punto</h3>

      <div id="attributeArea">
        <ion-list>
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text" id="inputNombre" [(ngModel)]="inputName">{{ inputName }}</ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-input type="text" id="inputDescripcion" [(ngModel)]="inputDescription">{{ inputDescription }}</ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Sexo</ion-label>
            <ion-input type="text" id="inputSexo" [(ngModel)]="inputSex"> {{ inputSex }} </ion-input>
          </ion-item>
        </ion-list>

        <button color="secondary" id="btnUpdate" ion-button outline block>Actualizar Información</button>
      </div>

      <div id="deleteArea">
        <button id="btnDelete" color="danger" ion-button outline block>Borrar punto</button>
      </div>
    </div>
  </div>
  <div style="height: 100%;" id="viewMap">
  </div>

  <ion-fab bottom right>
    <button color="ig-principal" ion-fab><ion-icon ios="ios-map" md="md-map"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="ig-color" id="btnAddFeature" (click)='mostrarAlerta()'><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></button>
      <button ion-fab color="ig-color"><ion-icon ios="ios-create" md="md-create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
