<ion-menu [content]="mycontent" side="left" type="overlay">
  <ion-content color="ig-color">
    <ion-item *ngIf="mostrarMenu">
       <ion-avatar item-start>
         <img [src]="dataUser.imagen">
       </ion-avatar>
       <h2>{{ dataUser.nombre }}</h2>
     </ion-item>

    <button block ion-button color="danger" menuToggle (click)="cerrarSesion()">Cerrar Sesión</button>

  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
